@media (max-width: 640px) {
  body {
    font-size: 1.6em;
  }

  .mobile-centered {
    text-align: center;
    width: 100%;
  }

  .row .column.column-10,
  .row .column.column-20,
  .row .column.column-25,
  .row .column.column-33,
  .row .column.column-34,
  .row .column.column-40,
  .row .column.column-50,
  .row .column.column-60,
  .row .column.column-66,
  .row .column.column-67,
  .row .column.column-75,
  .row .column.column-80,
  .row .column.column-90 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
}
