@media (max-width: 600px) {
  body {
    font-size: 1.6em;
  }

  .row .column.column-25 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .main-menu {
    display: none;
  }
}

.mobile-menu__toggle {
  border: black 1pt solid;
  float: left;
}

@media (min-width: 600px) {
  .mobile-menu__toggle {
    display: none;
  }
}
