<div class="container">
  <div class="gridish">

    <div class="feature-wrapper">
      <Image::Cldnry @src="features/contactless-pickup-available.png" @width={{1080}} @alt="contactless pickup is available"/>
      <div class="slightly-opaque content">
        <p>Contactless pickup is available Monday through Saturday.</p>
        <p>Call ahead or when your outside!</p>
        <a href="tel:6516994959" class="button">(651) 699 - 4959</a>
      </div>
    </div>
    <div class="feature-wrapper">
      <Image::Cldnry @src="features/contactless-pickup-available.png" @width={{1080}} @alt="contactless pickup is available"/>
      <div class="slightly-opaque content">
        <p>Contactless pickup is available Monday through Saturday.</p>
        <p>Call ahead or when your outside!</p>
        <a href="tel:6516994959" class="button">(651) 699 - 4959</a>
      </div>
    </div>

    {{!-- <div class="feature-wrapper">
      <Image::Cldnry @src="features/feature-product-bowl-randco-davines-panache.jpg" @width={{1080}} @alt=""/>
      <div class="opaque content">
        <p>all products now available to shop online!</p>
        <a href="https://petiteshops.com" class="button" target="_blank" rel="noopener noreferrer">SHOP NOW</a>
      </div>
    </div> --}}

  </div>
</div>
{{outlet}}