<LinkTo @route="profile" @model={{@artist.slug}}>
  <img local-class="avatar" src="{{@artist.image}}" alt="the artist profile"/>
  <p>{{@artist.name}}</p>
  <p class="muted">{{@artist.title}}</p>
</LinkTo>