<div class="container">
  <div class="centered">
    <h1>Petite Salon - COVID Policy</h1>
  </div>
  <p><strong>Dear Valued Guests,</strong></p>
  <p>We are so happy to be able to open our doors and welcome you back! Petite Salon and our service providers have taken every recommended step to ensure the safest environment possible for your return. So, there will be some changes from the normal flow of an appointment.</p>
  <p><strong>CALL OR TEXT BEFORE YOU ENTER</strong></p>
  <div class="">
    <div class="">
      <a href="tel:6516994959" class="check-in button"><FaIcon @icon="phone"/> call</a>
      <a href="sms:6516994959&body=Hi, I'm here for my appointment" class="check-in button"><FaIcon @icon="comments"/> text</a>
    </div>
  </div>
  <p>Due to our limited capitity we have closed our waiting areas until further notice.  We are asking that all guests arrive at the time of their appointments and text or call us from their car at 651-699-4959. We will let you know when you can enter the building.</p>

  <p>Please take a moment to familiarize yourself with the policies below.  Keep in mind that your safety and the safety of our team is our primary focus. We will continue to update our policies as the Covid-19 pandemic evolves.</p>
  <h2>Health and Safety Policy</h2>
  <h3>Please Read Carefully</h3>
  <p>
    <ol>
      <li>
        <strong>FACE MASKS</strong>
        <ul>
          <li><strong>Fully Vaccinated?</strong> you may enter the salon without a mask.</li>
          <li><strong>Not yet or unable to be vaccinated?</strong> We require you to wear a mask.</li>
          <li><strong>12 or under?</strong> We require you to wear a mask.</li>
        </ul>
      </li>
      <li><strong>OUR WAITING ROOM IS STILL CLOSED.</strong>  Please text or call us at 651-699-4959 and inform us that you have arrived. We will let you know when you are able to enter the salon.</li>
      <li><strong>HEALTH SURVEY.</strong> If you feel ill, have been ill, or have been around anyone ill you must reschedule. For your safety and the safety of our staff please use our hand sanitizer station or wash your hand upon entry.</li>
      <li><strong>SOCIAL DISTANCE.</strong>  Please follow the signs and maintain distance. Stay behind plexiglass at front desk.</li>
      <li><strong>NO GUESTS.</strong> Small children and individuals with special needs may have a parent or guardian accompanying them.</li>
    </ol>
  </p>
  <p>With Love,</p>
  <p>Petite Salon</p>
</div>
