<div class="column container">
  <div class="row">
    <h1 class="centered">cutting and styling</h1>
  </div>
  <div class="row centered">
    <div class="column">
      <h2>hair cuts <span class="muted">$40 - $110</span></h2>
      <img src="//cdn.petitesalon.com/img/petite/salon/sized/petite-07.jpg" alt="placeholder">
      <p>Experience a stunning haircut with a new level of expertise from our highly trained Petite Salon stylists. Whether you love your hair short, long, or layered let our stylists collaborate with you to create the haircut of your dreams, that fits your look and lifestyle. </p>
      <p>Our stylist will take into consideration texture and hair type, to truly craft a haircut that focuses on showing off your best features. </p>
      <p>Knowledge of trends and techniques are constantly being updated to bring you the very best in hair from our independent service providers.</p>
    </div>
    <div class="column">
      <h2>blowouts <span class="muted">$40 - $110</span></h2>
      <img src="//cdn.petitesalon.com/img/petite/salon/sized/petite-15.jpg" alt="placeholder">
      <p class="warning">Due to COVID-19 some blowdry services are being limited right now...</p>
      <p>The smooth, silky blow out is here for you at Petite. Who wants to style their hair on their own anyway, when you can have a talented stylist execute a stunning blow out for lasting style? It’s truly an art with a round brush and blow dryer, in our humble opinion. We’ve got you covered from root to ends.</p>
      <p>Have your blow out super straight and sleek, with a slight wave, or even a little beachy, if that’s your desire. This is a service that most discerning women schedule on a weekly basis or even every three days. Our Petite blow out includes luxury wash and finishing blow out style.</p>
    </div>
  </div>
  <div class="row centered">
    <div class="column">
      <h2>updo's <span class="muted">$40 - $110</span></h2>
      <img src="//cdn.petitesalon.com/img/hair/wedding-braided-updo-hairstyles-with-pearl-hair-comb-and-pins.png" alt="placeholder">
      <p>For event hair that shines the place to go is Petite. Our stylists are highly skilled at crafting an updo for special occasion hair that truly highlights your overall look.</p>
      <p>They will collaborate with your wants and needs, what you are wearing, with the goal to bring you a specialized look that’s all your own.</p>
      <p>No stiff updo’s here, but we’ll make sure your event hair does last for all day wear and through the evening.</p>
      <p>A formal style that’s anything but ordinary. Extraordinary updos for any occasion that take into account your hair type and texture. In our hands you’ll find the updo that’s perfectly delivered each and every time.</p>
    </div>
    <div class="column">
      <h2>bridal parties <span class="muted">$40 - $110</span></h2>
      <img src="//cdn.petitesalon.com/img/hair/wedding-updo-natasja-kremers.jpg" alt="placeholder">
      <p>No pressure here, it’s just the biggest day of your life.</p>
      <strong>Your bridal updo is a significant part of your wedding day dream look that our stylists are happy to be a part of.</strong>
      <p>Whatever your hair goals are, whether it’s romantically up or half and half, it’s going to be a splendid part of your day.</p>
      <p>We know how the photographs will tell the tale in the years to come, so we’ll collaborate with you on the perfect style to showcase your hair, veil headpiece, and features.</p>
      <p>Be the beautiful bride you know you can be, with a bridal updo that has star quality.</p>
    </div>
  </div>
</div>