<ul local-class="menu">
  <li>
    <a href="#book-now" class="book-now">book online</a>
    {{!-- <LinkTo @route="online-booking">book online</LinkTo> --}}
  </li>
  <li>
    <div class="dropdown">
      <LinkTo @route="services" class="dropbtn">
        services <FaIcon @icon="angle-down" />
      </LinkTo>
      <div class="dropdown-content">
        <LinkTo @route="services.styling"><FaIcon @icon="cut"/> cutting &amp; styling</LinkTo>
        <LinkTo @route="services.color"><FaIcon @icon="palette"/> color</LinkTo>
        <LinkTo @route="services.spa"><FaIcon @icon="spa"/> spa</LinkTo>
        <LinkTo @route="services.nails"><FaIcon @icon="paint-brush"/> nails</LinkTo>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <LinkTo @route="minneapolis" class="dropbtn">minneapolis <FaIcon @icon="angle-down" /></LinkTo>
      <div class="dropdown-content">
        {{#each @minneapolisArtists as |artist|}}
          <LinkTo @route="profile" @model={{artist.slug}}>{{artist.name}}</LinkTo>
        {{/each}}
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <LinkTo @route="saint-paul" class="dropbtn">st paul <FaIcon @icon="angle-down" /></LinkTo>
      <div class="dropdown-content">
        {{#each @stpaulArtists as |artist|}}
          <LinkTo @route="profile" @model={{artist.slug}}>{{artist.name}}</LinkTo>
        {{/each}}
      </div>
    </div>
  </li>
  {{!-- <li>
    <LinkTo @route="retail">retail products</LinkTo>
  </li> --}}
  <li>
    <LinkTo @route="contact">contact</LinkTo>
  </li>
  {{!-- <li>
    <a href="https://petiteshops.com" target="petite-shop">
      shop
    </a>
  </li> --}}
</ul>