<div class="column container">
  <div class="row">
    <h1 class="centered">spa services</h1>
  </div>
  <div class="row">
    <div class="centered column">
    <p>spa services include esthetics, massage, waxing and other services.</p>
    </div>
  </div>
  <div class="row centered">
    <Service::Description
      @title="facials"
      @priceRange=""
      @image="services/petite-minneapolis-spa-facial-steaming-sq.jpg"
      >
      <p class="warning">Due to COVID-19 some services are unavailable and others modified.</p>
      <p>Service description coming soon.</p>
    </Service::Description>
    <Service::Description
      @title="massage"
      @priceRange="$60 - $110"
      @image="services/petite-minneapolis-spa-feature-wall.jpg"
    ><p>massage services description coming soon.</p></Service::Description>
  </div>
  <div class="row centered">
    <Service::Description
      @title="facial &amp; body waxing"
      @priceRange="$40 - $110"
      @image="services/petite-minneapolis-spa-id-wax-that.jpg"
      >
      <p>Our waxing services at Petite will take you from fuzzy to smooth every time.</p>
      <p>This may encompass the brows for that perfect arch and shape you desire to show off your eye area to perfection. Or it may include the lip area, which no one likes to mention. </p>
      <p>Make unwanted hair a thing of the past with regular waxing performed with the utmost care. Even sensitive skin can tolerate the skilled hands of our esthetician staff that performs our waxing services. </p>
      <p>These services includes skin prep, wax, and soothing after balm treatment, as needed.</p>
    </Service::Description>
    <Service::Description
      @title="microdermabrasion"
      @priceRange="$40 - $110"
      @image="services/petite-minneapolis-spa-micro-dermabrasion-by-heidi.jpg"
    >service description coming soon</Service::Description>
  </div>
  {{!-- <div class="row centered">
    <div class="column">
      <h2>eyelash tint <span class="muted">$40 - $110</span></h2>
      <img src="https://via.placeholder.com/300x100" alt="placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="column">
      <h2>false lashes <span class="muted">$40 - $110</span></h2>
      <img src="https://via.placeholder.com/300x100" alt="placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div> --}}
</div>