<div class="container">
  <h1>online booking</h1>
  <p>We are upgrading our online booking system right now.  We are ironing out the details now and will have the new system up and running for you soon.</p>
  <p>In the mean time, please reach out to book an appointment by phone, text or email and we'll get you all setup.</p>
  <p>Thanks for your patience and we look forward to seeing you again soon!</p>
  <div class="centered column">
    Need to book an appointment?
    <div class="centered">
      {{!-- <a href="#book-now" class="check-in button"><FaIcon @icon="calendar"/> book online</a><br> --}}
      <a href="tel:6516994959" class="check-in button"><FaIcon @icon="phone"/> call</a>
      <a href="sms:6516994959" class="check-in button"><FaIcon @icon="comments"/>  text</a>
      <a href="mailto:reception@petitesalon.com" class="check-in button"><FaIcon @icon="envelope"/> email</a>
    </div>
  </div>
</div>

