<div class="container">
  <div class="centered column">
    <h1>Appointment Booking</h1>
    <p>We have recently upgraded our online booking system.  If you're an existing customer, please register with the same email address you've used previously with us in order to merge your appointment history.</p>
    <p>If you're a new customer; Welcome! Please register an account with a valid email address to book at either of our salon locations.</p>
  </div>
  <div class="centered column">
    <p>Ready to book an appointment?</p>
    <a href="#book-now" class="check-in online-booking button"><FaIcon @icon="calendar"/> book online</a><br>
  </div>
  <div class="centered column">
    <div class="centered">
      <a href="tel:6516994959" class="check-in button"><FaIcon @icon="phone"/> call</a>
      <a href="sms:6516994959" class="check-in button"><FaIcon @icon="comments"/>  text</a>
      <a href="mailto:reception@petitesalon.com" class="check-in button"><FaIcon @icon="envelope"/> email</a>
    </div>
  </div>
</div>

