<div class="column container">
  <div class="row">
    <h1 class="centered">nail services</h1>
  </div>
  <div class="row centered">
    <div class="column">
      <h2>pedicures <span class="muted">$40 - $110</span></h2>
      <img src="https://via.placeholder.com/300x100" alt="placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="column">
      <h2>manicures <span class="muted">$40 - $110</span></h2>
      <img src="https://via.placeholder.com/300x100" alt="placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
  <div class="row centered">
    <div class="column">
      <h2>shellac manicure / pedicure <span class="muted">$40 - $110</span></h2>
      <img src="https://via.placeholder.com/300x100" alt="placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
  <div class="row">
    <p class="centered warning">Due to COVID-19 some blowdry services are being limited right now...</p>
  </div>
</div>