<div class="column container">
  <div class="row">
    <h1 class="centered">nail services</h1>
  </div>
  <div class="row centered">
    <Service::Description
      @title="pedicures"
      @priceRange="$40 - $110"
      @image="services/petite-saint-paul-pedicure-bowl.jpg">
      <p>Pampered toes start with our Petite pedicure service.</p>
      <p>This includes a spa experience that will have your footsies looking their very best. So whether you like a bold red pedicure or a softly sweet neutral one, your toes will stand out in everything from strappy sandals to chic open toed stilettos.</p>
      <p>Make your pedicure appointment a standing one to give you time to recharge and relax, while our pedicure artist perform a truly luxurious serivce for you.</p>
    </Service::Description>
    <Service::Description
      @title="manicure"
      @priceRange="$40 - $60"
      @image="services/petite-nails-dazzle-dry-grays.jpg"
      @imageAltText="a small shelf with dazzle dry brand nail polishes">
      <p>Let our nail artists take your spa manicure up a notch with our indulgent pampering.</p>
      <p>This service includes customized shaping of the nails, taking care of the cuticles, and a hydrating hand massage. Relaxing and necessary, you’ll want to come in weekly for a seat in nail heaven.</p>
      <p>Pick out any color you like from bolds to neutrals, and everything in between. We have it all! Leave with a manicure that showcases your hands to polished perfection.</p>
    </Service::Description>
  </div>
</div>