.check-in-menu {
  position: absolute;
  right: 20px;
  top: 25px;
  display: flex;
  flex-flow: column;

  .check-in {
    border: 2pt black dashed;
  }
}

@media (max-width: 640px) {
  .check-in-menu {
    position: relative;
    top: inherit;
    right: inherit;
    flex-flow: row;

    .check-in {
      margin: 5px;
      width: 95% !important;
    }
  }
}
