<div class="{{this.router.currentRouteName}}">
<div class="centered banner warning">
  <LinkTo @route="covid-policy">
    Please read our COVID-19 policy before your appointment!
  </LinkTo>
</div>
<div class="row row-center row-no-padding">
  <div class="centered">
    <LinkTo @route="index">
      <img src="https://res.cloudinary.com/petite/image/upload/w_350/petite-salon-logo.png" alt="Petite Salon" class="logo" />
    </LinkTo>
  </div>
  <div class="float right" local-class="check-in-menu">
    <a href="tel:6516994959" class="button" local-class="check-in">call to check in</a>
    <a href="sms:6516994959&body=Hi, I'm here for my appointment" class="button" local-class="check-in">text to check in</a>
  </div>
</div>
<div class="row row-stretch">
  <Menu::Main
    @stpaulArtists={{this.data.stpaulArtists}}
    @minneapolisArtists={{this.data.minneapolisArtists}}
  />
</div>
{{outlet}}
</div>
