<div class="{{this.router.currentRouteName}}">
<div class="centered banner warning">
  <LinkTo @route="covid-policy">
    Please read our COVID-19 policy before your appointment!
  </LinkTo>
</div>
<div class="row row-center row-no-padding">
  <div class="centered">
    <LinkTo @route="index">
      <img src="/petite-salon-logo.png" alt="Petite Salon" class="logo" />
    </LinkTo>
  </div>
</div>
<div class="row row-stretch">
  <Menu::Main
    @stpaulArtists={{this.data.stpaulArtists}}
    @minneapolisArtists={{this.data.minneapolisArtists}}
  />
</div>
{{outlet}}
</div>
