.styling {
  // background-origin: content-box;
  background: url('https://res.cloudinary.com/petite/image/upload/f_auto/fl_lossy/q_auto:eco/w_500/services/petite-salon-blowout.jpg');
}

.color {
  background: url('https://res.cloudinary.com/petite/image/upload/f_auto/fl_lossy/q_auto:eco/w_500/services/petite-salon-foil-application.jpg');
}

.spa {
  background: url('https://res.cloudinary.com/petite/image/upload/f_auto/fl_lossy/q_auto:eco/w_500/services/petite-minneapolis-spa-micro-dermabrasion-by-heidi.jpg');
}

.nails {
  background: url('https://res.cloudinary.com/petite/image/upload/f_auto/fl_lossy/q_auto:eco/w_500/services/petite-saint-paul-pedicure-bowl.jpg');
}

.service-area {
  min-height: 300px;
  padding: 50px;
  margin: 25px;
  display: block;
  font-size: larger;
  font-weight: bolder;
  background-repeat: no-repeat;
  background-size: 500px 300px;
}
