.styling {
  // background-origin: content-box;
  background: url('//cdn.petitesalon.com/img/petite/salon/sized/petite-15.jpg');
}

.color {
  background: url('//cdn.petitesalon.com/img/petite/salon/sized/petite-04.jpg');
}

.spa {
  background: url('//cdn.petitesalon.com/img/petite/salon/sized/petite-15.jpg');
}

.nails {
  background: url('//cdn.petitesalon.com/img/petite/salon/sized/petite-15.jpg');
}

.service-area {
  min-height: 300px;
  padding: 50px;
  margin: 25px;
  display: block;
  font-size: larger;
  font-weight: bolder;
  background-repeat: no-repeat;
  background-size: 500px 300px;
}
