<div class="column container">
  <div class="row centered">
    <div class="column">
      <LinkTo @route="services.styling" local-class="service-area styling">
        <div class="opaque">
          styling
        </div>
      </LinkTo>
    </div>
    <div class="column">
      <LinkTo @route="services.color" local-class="service-area color">
        <div class="opaque">
          color
        </div>
      </LinkTo>
    </div>
  </div>
  <div class="row centered">
    <div class="column">
      <LinkTo @route="services.spa" local-class="service-area spa">
      <div class="opaque">spa</div>
      </LinkTo>
    </div>
    <div class="column">
      <LinkTo @route="services.nails" local-class="service-area nails"><div class="opaque">nails</div></LinkTo>
    </div>
  </div>
</div>