<div class="column container">
  <div class="row">
    <h1 class="centered">hair coloring services</h1>
  </div>
  <div class="row centered">
    <Service::Description
      @title="tint / all over color"
      @priceRange="$40 - $90"
      @image="services/petite-salon-tech-tray-tools.png"
      @imageAltText=""
    >
      <p>When checking out the best in color application look no further than Petite Salon.</p>
      <p>A tint or color process is truly the way to amp up your style with a look that’s all you. We’ll take into consideration your skin tone, features, and hairstyle to craft the blend of colors for a stunning transformation. </p>
      <p>From semi-permanent tints to bold permanent colors, it’s an array of hues to choose from that will let you walk away with the color you should have been born with.</p>
      <p>No one has to know, but your Petite colorist and you. That’s the fun part! This service includes a finishing style.</p>
    </Service::Description>
    <Service::Description
      @title="balayage"
      @priceRange="$40 - $90"
      @image="v1601123999/services/petite-salon-color-mixing-bowl.jpg"
      @imageAltText=""
    >
      <p>The smooth, silky blow out is here for you at Petite. Who wants to style their hair on their own anyway, when you can have a talented stylist execute a stunning blow out for lasting style? It’s truly an art with a round brush and blow dryer, in our humble opinion. We’ve got you covered from root to ends.</p>
      <p>Have your blow out super straight and sleek, with a slight wave, or even a little beachy, if that’s your desire. This is a service that most discerning women schedule on a weekly basis or even every three days. Our Petite blow out includes luxury wash and finishing blow out style.</p>
    </Service::Description>
  </div>
  <div class="row centered">
    <Service::Description @title="foils" @image="services/petite-salon-foil-application">
      <p>For classic highlights or partial ones, foils are a great way to get a sunkissed look that’s blended with your own base color for perfection.</p>
      <p>Combine a customized array of highlights and lowlights for a stellar effect on your overall aesthetic.</p>
      <p>Dimension and depth are our specialties. Be bold or natural with your color, it’s going to be your Petite stylist’s pleasure to figure out what will work out best for your lifestyle and end results. </p>
      <p>We know you’re going to want gorgeous color that’s exactly done the right way to turn heads. This service includes a finishing style.</p>
    </Service::Description>
    <Service::Description @title="bleach and tone">
      <p>Going Platinum Blonde is a major project! Think all over blonde. For this service, we request a complimentary consultation to ensure that your goals, our processes and the health of your hair are in alignment.</p>
    </Service::Description>
  </div>
  <div class="row centered">
    <Service::Description @title="color correction">
      <p>A professional stylist can help determine how much damage has been done and help come up with a plan to correct the color mishap. If the damage was minor, you may be able to fix it with a quick toner or tint that can be done immediately. But if your hair is dry and brittle from bleach damage, you might need multiple sessions spread out over several weeks to get the color right.  Price upon consultation.</p>
    </Service::Description>
  </div>
</div>